* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

main {
    padding: 3rem;
}

.titulo {
    font-size: 30px;
    color: #0055ff;
    text-decoration: underline;
    margin-bottom: 2.5rem;
}

.caixa {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin: 0 auto;
}

.formulario p {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
    color: #0055ff;
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #00006a;
}

.formulario input::placeholder {
    color: #474792;
    font-size: 14px;
}

.enviar_botao {
    width: 100%;
    padding: 10px;
    background-color: #0055ff;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.enviar_botao:hover {
    background-color: #00006a;
}
