*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100%;
    width: 100%;
}

main{
    padding: 3rem;
}

.titulo{
    font-size: 30px;
    color: #0055ff;
    text-decoration: underline;
}